.app {
  height: 100vh;
  width: 100%;
  background: #EDF1F6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uppercase {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: capitalize;
}

.container {
  width: 1000px;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
}

.header {
  display: flex;
  align-items: stretch;
  background: grey;
  padding: 30px 20px;
  background-image: url('./img/city.jpg');
  background-position: 0px -80px;
}
.header-child {
  flex-grow: 1;
  text-align: center;
  color: white;
  position: relative;
}
.header-child .degree {
  font-size: 60px;
}
.header-child .condition {
  font-weight: lighter;
}
.header-child:last-child {
  font-size: 20px;
}
.detail {
  font-weight: lighter;
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.detail > div {
  width: 100%;
}
.detail > div:first-child {
  border-right: 1px solid white;
}
.detail > div:last-child {
  border-left: 1px solid white;
}


.content-container {
  display: flex;
  padding: 30px 20px;
}
.ig-feed {
  width: 40%;
}
.days {
  color: grey;
  width: 60%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-form .input-area {
  border: 0.5px solid grey;
  display: flex;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 7px;
  margin: 0px 5px 5px 0px;
}
.search-form .search-activator {
  border-radius: 100px;
  font-size: 20px;
}
.search-form .search-activator:hover {
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
  cursor: pointer;
}
.search-form .search-activator:active {
  box-shadow: none !important;
}
.search-form input {
  height: 30px;
  padding: 0px 10px;
  border: none;
}
.search-form input:focus{
  outline: none !important;
}
